/* https://stackoverflow.com/questions/43427993/
change-the-color-of-a-input-field-when-selected 
Wanted to make it look just like the picture :) */
input:focus{   
 background-color:#FDFDCA;
}

#postFullName {
  text-align: center;
  font-size: 2em;
  font-family: 'Source Sans Pro', sans-serif;
  position: relative;
  bottom: 10px;
  font-weight: 500;
  }
  
  img {
  width: 90px;
  height: 90px;
  float: left;
  }
  
  #idCard {
  border-radius: 25px;
  border: 5px solid black ;
  height: 14em;
  width: 25em;
  margin: 0 auto;
  background-color:#EEC4CC;
  padding-left: 5px;
  font-family: 'Raleway', sans-serif;
  font-weight: bold;
  }
  
  #input {
  font-weight: bold;
  text-align: center;
  }
  
  html {
    background-color:#61A4BB;
  }
  
  button{
    background-color:white;
    border-radius: 6px;
    border: 3px solid #6CA4CC;
  }